.container{
width:60px;
height:180px;
background:black;
padding: 10px;
}
.circle1
{
    width:50px;
    height:50px;
    border-radius:50px;
    background: white;

}
.circle2
{
    width:50px;
    height:50px;
    border-radius:50px;
    background: white;

}
.circle3
{
    width:50px;
    height:50px;
    border-radius:50px;
    background: white;

}
.btn1{
    color:red;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background:gray;
    border-radius: 10px;
    width:100px;

}